/* TV */
@media (min-width: 2304px) { 
    /* PROFILE */

    #profile .profile__content {
        top: 5rem;
        left: 50%;
        transform: translate(-50%, 0);
    }


    /* PROCEDURE DETAIL */

    #proc-detail .proc-detail__content {
        width: 1024px;
        top: 0;
        left: 50%;
        transform: translate(50%, 0);
        padding: 0 3rem !important;
    }
}

@media (max-width: 1392px) { 
    /* COVER */

    .cover .cover__box {
        left: 2rem;
        width: 500px;
    }

    .cover .cover__form {
        top: 50%;
        right: 2rem;
    }

    /* borrar */
    #proc-detail .proc-detail__content {
        padding: 0 1rem !important;
    }
}

@media (max-width: 992px) {
    .form-mobile {
        display: block;
    }
    .form-mobile #form .form-content {
        margin: auto;
    }

    /* COVER */

    #jumbo .jumbo__cover {
        height: 100% !important;
    }
    
    .cover .cover__box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
    }

    .cover .cover__form {
        display: none;
    }
    
    /* DOCUMENTS */
    .document .document__box {
        position: relative !important;
        top: -3rem !important;
    }

    /* HEADER */
    
    /* #header .navbar {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    } */

    #header .navbar-nav .nav-li {
        padding: 10px 0;
        border-bottom: 1px solid #dee2e6 !important;
        width: 100%;
    }

    /* #header .nav-item-header {
        background-color: #95c11f;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
    } */

    #header .nav-item-header h1 {
        font-size: 1.8rem !important;
    }

    /* #header .navbar-nav .nav-item-menu a {
        color: white !important;
        padding: 0 1rem;
    } */

    /* #header .navbar-collapse {
        background-color: #007387 !important;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
    } */
}

@media (max-width: 768px) {
    /* COSTS */
    .cost-note {
        width: 100%;
    }

    /* FOOTER */
    .footer .social-networks {
        width: 50%;
        margin-right: 3rem !important;
    }

    .footer .phones {
        width: 50%;
        text-align: right;
    }

    /* COVER */

    .cover .cover__box .cover__box__list {
        font-size: 17px;
    }

    /* ABOUT */
    #about video {
        width: 70%;
    }

    /* HEADER */
    #header .header__logo {
        width: 60px;
    }

    /* PROFILE */

    #profile .profile__content-text {
        color: white; 
        line-height: 30px !important;
        font-size: 1rem !important;
    }


    /* BLOG */

    #blog-post .blog-post__author {
        position: absolute;
        top: 2rem;
        left: 50%;
        padding: 1rem;
        transform: translate(-50%, -50%);
    }

    #blog-post .blog-post__author-content {
        position: relative;
        top: -10rem;
        width: 70%;
    }
    
    #blog-post .blog-post__container {
        position: relative;
        /* top: -4rem; */
    }

    #blog-post .blog-post__body {
        top: -8rem;
    }

    .blog-page .blog-page__content h1 { 
        font-size: 2rem;
    }


    /* PROCEDURE DETAIL */

    #proc-detail .proc-detail__content {
        padding: 0 3rem !important;
    }

    #proc-detail .proc-detail__img {
        width: 100%;
    }
}

/* MOBILE */

@media (max-width: 576px) {
    h1 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1rem;
    }

    /* FORM */
    #form .form-hubspot {
        width: 280px;
    }

    #form .form-hubspot input, #form .form-hubspot select { 
        height: 2rem;
    }

    /* ABOUT */
    #about video {
        width: 100%;
    }

    /* HEADER */
    #header .header__logo {
        width: 50px;
    }
    
    /* #header .navbar {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    } */

    /* PRODUCTS */
    #products .framew {
        width: 4rem !important;
        height: 4rem !important;
    }

    #products .framew__img {
        width: 2.7rem;
        height: 2.7rem;
    }

    #products .framew__desc {
        font-size: .9rem;
        width: 5rem !important;
    }

    /* SOCIAL NETWORKS */

    #social-networks img {
        width: 2rem !important;
        height: 2rem !important;
    }

    /* PROFILE */

    #profile .profile__content {
        top: 1rem;
        left: 2rem;
        width: 80%;
    }

    #profile .profile__content-text {
        color: white; 
        line-height: 20px !important;
        font-size: 14px !important;
    }

    /* BLOG */

    .blog-page .blog-page__content__meta { 
        font-size: 10px;
    }

    .blog-page .blog-page__content .icon-meta { 
        width: .6rem;
        margin-right: .6rem;
    }

    .blog-page .blog-page__content h1 { 
        font-size: 1.5rem;
    }
}